<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adapter" version="1.1.1301.1418" targetFramework="net461" />
  <package id="Adapter.Implementation" version="1.0.1212.0616" targetFramework="net461" />
  <package id="Adapter.Interfaces" version="1.0.1212.0616" targetFramework="net461" />
  <package id="Adapter.Sdk" version="1.0.1212.0616" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.35" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.1" targetFramework="net461" />
  <package id="Selenium.Support" version="3.9.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.9.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.35.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.9.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net461" />
  <package id="xunit" version="2.4.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.2" targetFramework="net461" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net461" />
  <package id="xunit.assert" version="2.4.0" targetFramework="net461" />
  <package id="xunit.core" version="2.4.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net461" />
</packages>